
#gallery {
	margin-top: 50px !important;
	margin-bottom: 100px !important;
}

.image { 
	display: inline-block;
}

.image img {
	width: 200px;
}

#send {
	border: none !important;
    padding: 3px 10px !important;
	margin-top: 25px !important;
}